node_modules
.DS_Store
npm-debug.log*
logs
*.log
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
apps/web/dist
apps/web/dist-ssr
*.local
apps/web/public/data/*.xlsx
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
