*.local
*.log
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
.DS_Store
.idea
.infra/
.vscode/*
!.vscode/extensions.json
data/**/*.csv
data/**/*.xls
data/**/*.xlsx
data/parquet/
data/sources/
lerna-debug.log*
logs
node_modules
npm-debug.log*
package-lock.json
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
